<div class="call_back">
    <div class="call_back_head" id="call_back">
        перезвоните мне <span class="close"></span>
    </div>
    <!-- end .call_back_head -->
    <form class="form_phone">
        <div class="txt">
            Обратный звонок
        </div>
        <div class="phone">
            <input type="text" placeholder="+7 (___) ___-__-__">
        </div>
        <!-- end .phone -->
        <input class="btn" type="submit" value="Перезвоните мне">
    </form>
    <!-- end .form_phone -->
    <span class="bg"></span>
</div>